IS_PRODUCTION=False
IS_HEROKU=False
IS_STAGING=True
SECRET_KEY=django-insecure-0&9(i3)-l8j+g#6e-s-mov-454g@up2*&71o$!-i8vw7y_tec@
# --- doadmin ---
# DATABASE_URL=postgresql://doadmin:A46uXdmNsfeyNzd4@studio-reservation-db-do-user-8016386-0.b.db.ondigitalocean.com:25060/defaultdb?sslmode=require
# --- studio ---
# DATABASE_URL=postgresql://studio:W9LOjeZEfoB5DiHM@studio-reservation-db-do-user-8016386-0.b.db.ondigitalocean.com:25060/studio-db?sslmode=require
# --- staging ---
DATABASE_URL=postgresql://studio:W9LOjeZEfoB5DiHM@studio-reservation-db-do-user-8016386-0.b.db.ondigitalocean.com:25060/staging-db?sslmode=require
# --- production ---
# DATABASE_URL=postgresql://studio:W9LOjeZEfoB5DiHM@studio-reservation-db-do-user-8016386-0.b.db.ondigitalocean.com:25060/production-db?sslmode=require
ALLOWED_HOSTS=localhost,127.0.0.1
# DB_NAME=
# DB_USER=
# DB_PASSWORD=
# DB_HOST=
# DB_PORT=
# --- HEROKU DB ---
HEROKU_DB_HOST=ec2-44-199-83-229.compute-1.amazonaws.com
HEROKU_DB_NAME=dssisptcipldg
HEROKU_DB_USER=yowvxvpwhqpjpc
HEROKU_DB_PORT=5432
HEROKU_DB_PASSWORD=4d9f3b5a961f1be1dd239fd1dbdac61a522eeed87fa78f30daef5bd802f41060
# --- ELEPHANT SQL DB ---
ELEPHANT_DB_HOST=fanny.db.elephantsql.com
ELEPHANT_DB_NAME=ushnobxx
ELEPHANT_DB_USER=ushnobxx
ELEPHANT_DB_PORT=5432
ELEPHANT_DB_PASSWORD=qr3SV2IOlY1mOLevMBfccd02ZB50D32n
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
# EMAIL_USE_TLS=True
# EMAIL_PORT=587
# EMAIL_HOST=
# EMAIL_HOST_USER=
# EMAIL_HOST_PASSWORD=